import /init.variant.${ro.boot.cmv}.rc

on boot
    # Enable KSM
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

on post-fs
    swapon_all /fstab.mm1v
    write /proc/sys/vm/page-cluster 0
